<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header" class="container-fluid d-flex justify-content-center">
  <h1 class="p-3">StoreEverything</h1>
</header>

<nav th:fragment="navbar" class="bg-primary" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
                <a class="p-3 text-light text-decoration-none fw-bold" th:href="@{/}">Strona główna</a>
                <a sec:authorize-url="/informacja" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/informacja}">Informacje</a>
                <a sec:authorize-url="/informacja/dodaj" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/informacja/dodaj}">Dodaj informację</a>
                <a sec:authorize-url="/kategorie" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/kategorie}">Dodaj kategorię</a>
                <a sec:authorize-url="/uzytkownik" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/uzytkownik}">Wyswielt użytkowników</a>
        </div>
        <div class="d-flex">
            <a sec:authorize="isAnonymous()" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/uzytkownik/zaloguj}">Zaloguj się</a>
            <a sec:authorize="isAnonymous()" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/uzytkownik/zarejestruj}">Zarejestruj się</a>
            <a sec:authorize="!isAnonymous()" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/uzytkownik/logout}">Wyloguj</a>
        </div>
    </div>
</nav>

</body>
</html>