<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacja</title>
</head>
<body>
<h3>Wartości atrybutów:</h3>

<form action="/informacja/sort">
    <label for="sort">Wybierz opcję sortowania:</label>
    <select id="sort" name="sort">
        <option value="alfabetycznieR">alfabetycznie rosnąco</option>
        <option value="alfabetycznieM">alfabetycznie malejąco</option>
        <option value="kategoriaR">po kategori rosnąco</option>
        <option value="kategoriaM">po kategori malejąco</option>
        <option value="dataR">po dacie rosnąco</option>
        <option value="dataM">po dacie malejąco</option>
    </select>
    <input type="submit">
</form>

<ol>
    <li th:each="informacja : ${informacje}" th:text="${informacja}" />
</ol>
</body>
</html>