<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="commons :: header"></div>
<div class="container-xl">
    <div class="mx-auto p-2">
        <h2>Wartości atrybutów:</h2>
    </div>

<form action="/informacja/filter">
    <label for="typ">Sortowanie:</label>
    <select id="typ" name="typ">
        <option value="alfabetycznie" selected>alfabetycznie</option>
        <option value="kategoria">po kategorii</option>
        <option value="data">po dacie</option>
    </select>
    <label for="direction">Kierunek:</label>
    <select id="direction" name="direction">
        <option value="malejaco" selected>malejąco</option>
        <option value="rosnaco">rosnąco</option>
    </select>
    <label for="dataFiltrowania">Filtrowanie:</label>
    <select id="dataFiltrowania" name="dataFiltrowania">
        <option value="2tyg">2 tygodnie</option>
        <option value="4tyg">1 miesiąc</option>
        <option value="8tyg">2 miesiące</option>
        <option value="24tyg">6 miesiący</option>
        <option value="48tyg">1 rok</option>
        <option value="nigdy" selected>brak</option>
    </select>
    <!-- >
        <tr th:each="kategoriaEntity: ${kategorie}">
            <input type="checkbox" th:name="${kategoriaEntity}" th:value="${kategoriaEntity}"/><br>
      <!-->
    <label for="kategoriaFiltrowania">Kategoria:</label>
    <select id="kategoriaFiltrowania" name="kategoriaFiltrowania">
        <option value="brak" selected>brak</option>
        <tr th:each="kategoriaEntity: ${kategorie}">
            <option th:value="${kategoriaEntity}"><p th:text = "${kategoriaEntity}"></p></option>
        </tr>
    </select>
    <input type="submit" value="Prześlij">
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Tytuł</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Treść</th>
        <th scope="col">Link</th>
        <th scope="col">Data Dodania</th>
        <th scope="col">Data Przypomnienia</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="informacjaEntity: ${informacje}">
        <td th:text="${informacjaEntity.tytul}"></td>
        <td th:text="${informacjaEntity.kategoria}"></td>
        <td th:text="${informacjaEntity.tresc}"></td>
        <td th:text="${informacjaEntity.link}"></td>
        <td th:text="${informacjaEntity.writeDataDodania()}"></td>
        <td th:text="${informacjaEntity.writeDataPrzypomnienia()}"></td>
    </tr>
    </tbody>
</table>
    <a href="/informacja/dodaj" class="btn btn-primary">Dodaj nową informacje </a>
    <!--<a href="/informacja/dodaj_kategoria" class="btn btn-primary">Dodaj nową kategorie </a>-->
</div>
</body>
</html>
