<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacja</title>
</head>
<body>
<h3>Wartości atrybutów:</h3>

<form action="/informacja/sort">
    <label for="typ">Sortowanie:</label>
    <select id="typ" name="typ">
        <option value="alfabetycznie" selected>alfabetycznie</option>
        <option value="kategoria">po kategori</option>
        <option value="data">po dacie</option>
    </select>
    <select id="direction" name="direction">
        <option value="rosnaco" selected>rosnąco</option>
        <option value="malejaco">malejąco</option>
    </select>
    <input type="submit">
</form>

<ol>
    <li th:each="informacja : ${informacje}" th:text="${informacja}" />
</ol>
</body>
</html>
